@model folio.Areas.Portfolio.Models.ViewModels.HomeViewModel

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="home_left_img">
                        <img class="mypic" src="~/Content/Portfolio/img/banner/my_pic.jpg" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner_content">
                        @*<h3>Hey,</h3>*@
                        <div class="text-center inline-block">
                            <small>This is</small>
                            <h2>Dipjyoti Sikder</h2>
                            <p>
                                A Creative Learner, Coder and Thinker !
                            </p>
                            <a href="/Home/projectGallery" class="genric-btn primary circle arrow">Visit Projects<span class="lnr lnr-arrow-right"></span></a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6">
                <div class="welcome_text">
                    <h4>About Myself</h4>
                    <p class="text-justify">
                        Experienced developer with a demonstrated
                        history of working in the ASP.Net MVC and ASP.Net Core web development.
                        Business oriented personality having the knowledge of the current business flow in my country and a perfect individual for generating new ideas.
                        Love to be a thinker more than being anything else.
                    </p>
                    <div class="row">
                        @*<div class="col-md-4">
                                <div class="wel_item">
                                    <i class="lnr lnr-database"></i>
                                    <h4>$2.5M</h4>
                                    <p>Total Donation</p>
                                </div>
                            </div>*@
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-book"></i>
                                <h4>@Model.ProjectCount</h4>
                                <p>Total Projects</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-users"></i>
                                <h4>40</h4>
                                <p>Total Views</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tools_expert">
                    <h3>Expertise Areas</h3>
                    <div class="skill_main">
                        @{
                            foreach (var item in Model.Pskills)
                            {

                                item.Strength = item.Strength * 10;
                                <div class="skill_item">
                                    <h4>@item.Name  (<span class="counter">@item.Strength</span>%)</h4>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="@item.Strength" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->
<!--================Feature Area =================-->
<section class="feature_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Summery Projects</h2>
            <p>These are some of the best contributions to me.</p>
        </div>

        <div class=" row">
            @{
                int count = 0;
            }
            @foreach (var item in Model.Projects)
            {

                if (count <= 1)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            @if (item.ProjectImages.Count == 0)
                            {
                                <img class="img-responsive projectpic" src="~/Content/Portfolio/img/no.image.600x300.png" />

                            }
                            else
                            {
                                <img class="img-responsive projectpic" src="@item.ProjectImages.ToList().FirstOrDefault().ImageUrl" />

                            }

                            <h4>@Html.ActionLink(item.Name, "SingleProject", "Home", new { id = item.Id }, new { hidefocus = "hidefocus" }) </h4>
                            <p>@item.Description</p>
                        </div>
                    </div>

                }
                count++;
            }
        </div>


    </div>
    <div class="container">
        <a class="btn-block" href="/Home/ProjectGallery">More..</a>
    </div>

</section>
<!--================End Feature Area =================-->
