@model folio.Areas.Portfolio.Models.ViewModels.HomeViewModel

@{
    /**/

    /**/

    ViewBag.Title = "SingleProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>project Details</h2>
                <div class="page_link">
                    <a href="/">Home</a>
                    @Html.ActionLink("Single Project", "SingleProject", "Home", new { id = Model.Project.Id }, new { hidefocus = "hidefocus" })
                </div>

            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Portfolio Details Area =================-->
<section class="portfolio_details_area p_120">
    <div class="container">
        <div class="portfolio_details_inner">
            <div class="row">
                <div class="col-md-6 typo-sec">
                    <h3 class="mb-20 title_color">Skills</h3>
                    <div class="">
                        <ul class="unordered-list">
                            @foreach (var name in Model.ProjectSkills.Select(c => c.Pskill.Name))
                            {

                                <li>@name</li>
                            }
                        </ul>
                        @if (!Model.ProjectSkills.Any())
                        {
                            <div class="col-md-12">
                                <p>No Skills found</p>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-md-6 typo-sec">
                    <h3 class="mb-20 title_color">Features</h3>
                    <div class="">
                        <ul class="unordered-list">
                            @foreach (var item in Model.ProjectFeatures)
                            {
                                <li>@item.Title</li>
                            }
                            
                        </ul>
                            @if (!Model.ProjectFeatures.Any())
                            {
                                <div class="col-md-12">
                                    <p>No Features found</p>
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Portfolio Details Area =================-->
<!--================Image Gallery Area =================-->
<div class="container section-top-border">
    <h3 class="title_color">Image Gallery</h3>
    <div class="row gallery-item">
        @foreach (var item in Model.Project.ProjectImages)
        {
            <div class="col-md-6">
                <a href="@item.ImageUrl" class="img-gal">
                    <div class="single-gallery-image" style="background: url('@item.ImageUrl');"></div>
                </a>
            </div>
        }
    </div>
        @if (!Model.Project.ProjectImages.Any())
        {
            <div class="col-md-12">
                <p>No Images found</p>
            </div>
        }
</div>

<!--================Image Area =================-->